@use "variables" as *;
@use "mixins" as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  max-width: 480px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #011827;
  grid-column: 1;
  height: 144px;
  align-items: center;
}

.header__menu {
  display: none;
}

.header__hamburger {
  cursor: pointer;
  margin-top: -2rem;
}

.header__close {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1000;
}

body.menu-open {
  .header__hamburger {
    display: none;
  }

  .header__close {
    display: flex;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 1rem;
    background-color: #011827;
    color: white;
    z-index: 999;
  }

  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .menu__item {
    font-family: $font-main, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }
}

.header__logo {
  width: 128px;
  height: 82px;
  margin-left: 1.5rem;
}

.header__title {
  color: #ffffff;
  font-size: 24px;
  font-family: Roboto;
  line-height: 1;
  margin-left: 1rem;
}

.header__top {
  align-items: center;
  display: flex;
  gap: 10rem;
}

.hacker__picture {
  display: block;
  width: 100%;
}

.hacker__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin: 0 auto 3rem auto;
}

.hacker__button {
  width: 308px;
  height: 66px;
  border: none;
}

.hacker__button--online {
  display: none;
}

.hacker__link {
  @include link-button($color-dark-blue);
}

.hacker__button--onsite {
  @include button($color-blue, black);
  margin: 40px 0 30px 0;
}

.hacker__profiles {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hacker__profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.profile__img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.hacker__quote {
  padding: 0;
  margin: 0 1rem 0 auto;
  font-size: 22px;
  font-family: $font-main;
  font-style: italic;
  width: 290px;
}

.hacker__author {
  margin-top: 0.5rem;
  margin-left: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 1.5rem;
}

.hacker__profile:nth-child(2) {
  display: none;
}

.popular {
  overflow-x: hidden;
  padding-left: 1.5rem;
}

.popular__title {
  font-family: $font-main;
  font-weight: 400;
  font-size: 32px;
  padding-bottom: 1rem;
}

.popular__cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  padding-left: 1.5rem;
}

.popular__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  flex: 0 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: visible;
  box-shadow: 0 0 15px rgba($color-grey, 0.5);
}

.popular__text {
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.card__image {
  width: 100%;
}

.card__title {
  font-size: 22px;
  font-family: $font-main;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.2rem;
  padding-top: 5px;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 0.2rem;
  line-height: 1;
}

.card__star {
  color: $color-red;
  object-fit: contain;
  width: 4%;
}

.card__star--empty {
  color: white;
  -webkit-text-stroke: 1.5px $color-red;
}

.card__participants {
  font-size: 10px;
  font-family: $font-main;
  position: relative;
  top: 2px;
  padding-left: 0.25rem;
}

.card__description {
  padding-left: 0.25rem;
}

.card__button {
  font-family: $font-main, sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: $color-red;
  width: 135px;
  height: 34px;
  align-self: flex-end;
  margin: 1rem 1rem 0.5rem 0;
}

.popular__buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.popular__button-group {
  display: flex;
  flex-direction: column;
}

.button__onsite {
  @include button($color-blue, black);
  border: none;
  margin-left: 4rem;
  margin-top: 1rem;
}

.button__link {
  @include link-button($color-dark-blue);
  margin-top: 2rem;
  margin-left: 9.7rem;
}

.button__online {
  display: none;
}

.information__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  height: 30rem;
  padding-bottom: 2rem;
  background-color: $color-black;
}

.information__box .information__text {
  font-family: $font-main, Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding-top: 5rem;
  color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.information__box .information__button {
  @include button($color-black, $color-blue);
  border: 2px solid $color-blue;
  margin-left: 5.5rem;
  margin-bottom: 3.5rem;
}

.information__row {
  display: flex;
  flex-direction: column;
}

.information__row--reverse {
  display: flex;
  flex-direction: column-reverse;
}

.information__image {
  width: 480px;
}

.information__title {
  font-family: $font-main, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding-top: 1rem;
  margin: 0;
}

.information__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.information__content .information__text {
  color: black;
  padding: 0;
  padding-top: 1.5rem;
  margin: 0;
  font-family: $font-main, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.information__content .information__button {
  @include button($color-red, white);
  border: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer {
  background-color: $color-black;
  color: white;
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  padding-top: 4rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;

  .footer__title,
  .sitemap__item:first-child,
  .socials__item:first-child {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
}

.footer__title {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.footer__text {
  margin: 0;
  padding-bottom: 3rem;
}

.sitemap__list,
.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitemap__item:nth-child(4) {
  margin-bottom: 2rem;
}

.sitemap {
  margin-top: 1rem;
}

.socials__list {
  margin-top: 3rem;
  padding: 0;
}

@media screen and (min-width:1024px) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    align-items: flex-start;
    padding-bottom: 4.2rem;
  }

  .header__logo {
    width: 128px;
    height: auto;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }

  .header__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
  }

  .header__title {
    font-size: 40px;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    margin-left: -30rem;
  }

  .header__hamburger {
    display: none;
  }

  .header__close {
    display: none;
  }

  .header__title br {
    display: none;
  }

  .header__menu {
    display: flex;
    margin-top: -1rem;
    margin-left: 3.5rem;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-top: -5rem;
    padding: 0;
  }

  .menu__item {
    color: white;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }

  .hacker__image-wrapper {
    position: relative;
  }

  .hacker__picture {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center 50%;
  }

  .hacker__link {
    display: none;
  }

  .hacker__buttons {
    position: absolute;
    bottom: -4.9rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hacker__button--onsite {
    @include button($color-blue, black);
    margin: 0;
    padding: 0;
    width: 308px;
  }

  .hacker__button--online {
    @include button($color-red, white);
    width: 308px;
    margin: 0;
    padding: 0;
  }

  .hacker__profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-left: 4rem;
    gap: 2.5rem;
  }

  .hacker__profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hacker__profile+.hacker__profile {
    margin-left: -5rem;
  }

  .hacker__profile:nth-child(2) {
    display: flex;
  }

  .profile__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .hacker__quote {
    margin-left: 0;
    padding-right: 0;
    font-size: 21px;
    font-style: italic;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    width: 400px;
  }

  .hacker__author {
    margin-left: 0;
    padding-right: 0;
    font-size: 18px;
    font-style: italic;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    padding-top: 0.5rem;
    white-space: normal;
    word-break: keep-all;
    max-width: 280px;
  }

  .popular {
    padding: 0;
  }

  .popular__title {
    font-size: 36px;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    margin-left: 32%;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .popular__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: visible;
    padding: 0 3rem;
    box-sizing: border-box;
    width: 100%;
  }

  .popular__card {
    width: 340px;
    height: 410px;
    box-shadow: 0 4px rgba(182, 189, 181, 1);
    overflow: hidden;
  }

  .popular__text {
    padding: 0;
    margin-left: 1rem;
  }

  .card__title {
    font-size: 26px;
    padding-top: 1rem;
  }

  .card__rating {
    padding-top: 0.3rem;
  }

  .card__star {
    padding-left: 0.3px;
  }

  .card__participants {
    padding-left: 9.4rem;
  }

  .card__description {
    font-size: 18px;
    margin-right: 1.5rem;
  }

  .card__button {
    width: 150px;
    height: 50px;
    font-size: 15px;
  }

  .popular__buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .popular__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button__onsite {
    @include button($color-blue, black);
    padding: 0;
    margin: 0;
    width: 308px;
  }

  .button__online {
    @include button($color-red, white);
    padding: 0;
    margin: 0;
    width: 308px;
    border: none;
  }

  .button__link {
    display: none;
  }

  .information__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .information__box .information__text {
    font-size: 28px;
    width: 50%;
  }

  .information__box .information__button {
    margin-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 7rem;
    width: 279px;
    height: 60px;
  }

  .information__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .information__image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
  }

  .information__title {
    font-size: 32px;
    font-family: $font-main, Arial, Helvetica, sans-serif;
  }

  .information__content .information__text {
    padding-top: 0.7rem;
    padding-bottom: 1.2rem;
  }

  .information__content {
    width: 65%;
    align-self: center;
    justify-self: center;
    padding-left: 0;
  }

  .information__content .information__button {
    width: 279px;
    height: 60px;
    margin: 0;
  }

  .information__row--reverse {
    display: grid;
    padding-bottom: 9rem;
  }

  .information__image:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .information__row--reverse .information__title {
    width: 110%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
    gap: 6.7rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .footer__information {
    align-items: flex-start;
    justify-items: flex-start;
    width: 37%;
    margin-left: 5rem;
  }

  .footer__sitemap,
  .socials__list {
    margin: 0;
    padding: 0;
  }

  .footer__sitemap {
    margin-left: 3rem;
  }
}